

@media  screen and (max-width:500px) {
   
    body{
        max-width: 500px; 
        /* box-sizing: border-box;
        margin:0 px;
        padding:0 px;  */
    }
    #header {
        padding: 20px 0;
        /* display: flex;
        flex-direction: column; */
        width:100%;
        gap:15px;
        background-color: rgb(15, 1, 1);
       
    }
    #header #hgroup h1{
        padding-bottom:10px;
    }
    #header #hgroup h2 {
        font-size: 14px;
        font-weight:lighter;
    }
    .headerflex {
        display: flex;
        justify-content:space-evenly;
        flex-direction: column;
        margin-left:5px;
        
    }
    #header form {
        display: block;
        /* width: 290px; */
        /* float: right; */
        margin: 20px 0;
        padding: 0;
        /* grid-column: 2; */
    }
    #header #hgroup h1 {
        font-size: 35px;
    }
    #header form #sf_submit {
        display: block;
        /* float: right; */
        width: 60px;
        font-size: 10px;}
        #header nav {
            /* display: block; */
            width: 470px;
            margin-left: 5px;
            text-align: center;
        border: 2px solid;}
            #header nav ul {
                /* display: block; */
                padding: 0 20px;
                display: flex;
                flex-direction: column;  
               gap:15px;             
              
                }
                .row2 a{
                    font-size: large;
                }
             
                #header nav li.last {
                    margin-right:24px;
                }
                #container #slider figure {
                    display: flex;
                    flex-direction: column;
                }
                #container #slider figure img {
                    /* float: right; */
                    width: 470px;
                    height: 200px;
                    margin-left:5px;
                    
                }
                #container #homepage section nav li {
                    font-size: large;
                }
                #container #slider figure img {
                    margin-bottom:10px;}

                #container #slider figure h2 {
                    font-size: 30px;
                    font-weight: normal;
                    font-style: italic;
                    text-transform: none;
                }
                #container #slider figure figcaption {
                    display: block;
                    /* float: left; */
                    width: 470px;
                    margin-left: 5px;
                    height: 250px;
                    padding: 0px;
                    overflow: hidden;
                    color: #989898;
                    background-color: #071617;
                    line-height: 2em;
                    font-size: large;                  
                }
                #container #intro section article figure ul li img {
                    width: 400px;
                    height: 160px;
                    margin: 0;
                    padding: 4px;
                    border: 1px solid #D6D6D6;
                }
                #container #intro section article figure ul {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                   align-items: center;
                   gap: 15px;
                }
                #container #intro section {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-left:5px;
                    line-height: 2em;
                    font-size: 14px;
                    gap:15px;
                    color: darkcyan;
                    /* justify-content: space-between; */
                }
                #container #homepage {
                    display: block;
                    width: 465px;
                    line-height: 1.8em;
                    display: flex;
                    flex-direction: column;
                    margin-left:5px;
                    gap:10px; 
                    align-items: center;  
                    background-color:rgb(9, 104, 20);              
                  
                }
                          
                               .imgcnt {
                              
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                /* height:200px; */
                            }
                            .imgl {
                                /* float: left; */
                                /* margin: 0 15px 15px 0; */
                                /* clear: left; */
                                width:400px;
                                height:160px;
                            }
                            article {
                               
                                line-height: 1.8em;
                                font-size: large;
                        }
                        .imgcnt p {
                            /* margin: -31px; */
                            text-align: justify;
                            margin-top: 0px;
                            font-size: large;
                        }
                  
                  
                            section.two_quarter.lastbox {
                                text-align: center;
                                margin:0px;
                                
                            }
                            .read {
                                width:400px;     
                            
                               line-height: 1.8em;
                              
                            }
                       
                            .foot {
                                display: flex;
                                flex-direction: column;
                                padding: 20px 0px;
                                width: 100%;
                                gap:10px;                   
                         border: 1px solid gold;
                               font-size: large;
                                text-align: center;
                            }
                            #container #intro {
                                width: 470px;
                                margin-bottom: 30px;
                                padding-bottom: 10px;
                                /* border-bottom: 1px solid #D6D6D6; */
                            }
                            #header,
                            #container,
                            #footer {   
                                 display: block;
                                width: 100%;
                                margin: 0 auto;
                            }
                            #container #intro section article figure ul li.last {
                                margin-right: 25px;
                                
                            }
                            .oneq header{
                                font-size: large;
                            }
                            nav ul {
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                font-size: 14px;
                            }
                            #container #homepage section article address, #container #homepage section article time {
                                font-size: large;
                                font-style: normal;
                            }
                            #container #intro section article p {
                                font-size: large;
                                color: crimson;
                            }


    
}
@media  screen and (min-width:501px) and (max-width:800px) {
    *{
        
        box-sizing: content-box;
        margin: 0;
        padding: 0;
    }
        
    
    body{
        width: 800px;  
        margin: 0;
      
    }
  
    #header {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        width:799px;
        gap:15px;
        border:1px solid blueviolet;
        background-color: rgb(70, 6, 46);
       
    }
    #header #hgroup h1{
        padding-bottom:10px;
    }
    #header #hgroup h2 {
        font-size: 14px;
        font-weight:lighter;
    }
    .headerflex {
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        margin-left:5px;
       
        
    }
    #header form {
        display: block;
        /* width: 290px; */
        /* float: right; */
        margin: 20px 0;
        padding: 0;
        margin-right:5px;
        /* grid-column: 2; */
    }
    #header #hgroup h1 {
        font-size: 35px;
    }
    #header form #sf_submit {
        display: block;
        /* float: right; */
        width: 46px;
        font-size: 10px;
    }
    #header nav {
        display: block;
        /* width: 100%; */
        border:1px solid lightblue;
        margin: 0;
        padding: 20px 0;
        color: #C0BAB6;
        background-color: #232323;
        clear: both;
    }
                    #header nav ul {
                     
                        justify-content: space-between;
                }
                #container{
                    width:720px;
                    
                   
                }
                #container #slider figure {
                    display: flex;
                    flex-direction: column;
                    gap:15px;
                    
                   
                }
             
                #container #slider figure img {
                    /* float: right; */
                    width: 700px;
                    height: 200px;
                 
                    border:1px solid blue;
                    
                }
                #container #slider figure h2 {
                    font-size: 30px;
                    font-weight: normal;
                    font-style: italic;
                    text-transform: none;
                }
                #container #intro section article figure ul {
                    display: block;
                    width: 700px;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                }
                #container #intro section article figure ul li {
                    /* display: inline-block; */
                    /* float: left; */
                    margin: 0 0px 10px 0;
                }
                #container #slider figure figcaption {
                    display: block;
                    /* float: left; */
                    width: 700px;
                    
                    height: 170px;
                    padding: 0px;
                    overflow: hidden;
                    color: #3e3333;
                    background-color: #b2cf0e;
                    line-height: 2em;
                    font-size: 15px; 
                    text-align: center;                   
                }
                #container #intro section {
                    width: 700px;
                    display: flex;
                    flex-direction: column;
           
                    line-height: 2em;
                    font-size: 15px;
                    gap:15px;
                    color: darkcyan;
                    /* justify-content: space-between; */
                }
                .two_quarter{
                width: 700px;
               
                }
                #container #homepage {
                    display: block;
                    width: 700px;
                    line-height: 1.8em;
                    display: flex;
                    flex-direction: column;
                   
                    gap:10px; 
                    align-items: center;  
                    background-color:rgb(17, 4, 64);              
                  
                }
                          
                               .imgcnt {
                              
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                /* height:200px; */
                            }
                            article {
                                line-height: 1.8em;
                    font-size: 14px;
              
                            }
                            section.two_quarter.lastbox {
                                text-align: center;
                                margin:0px;
                                
                            }
                            .read {
                                width:80%;            
                            
                               line-height: 1.8em;
                               font-size: 15px;
                              
                            }
                       
                            .foot {
                                display: flex;
                                flex-direction: column;
                                padding: 20px 0px;
                                width: 100%;
                                gap:10px;                   
                         border: 1px solid gold;
                         font-size: 15px;
                               
                                text-align: center;
                            }
                            #container #intro {
                                width: 100%;
                                margin-bottom: 30px;
                                padding-bottom: 10px;
                                /* border-bottom: 1px solid #D6D6D6; */
                            }     

/* #header ,
#footer {
    display: block;
    width: 100%;
    margin: 0 auto;
}    */
.oneq header{
    font-size: 14px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
}
#container #homepage section article address, #container #homepage section article time {
    font-size: 15px;
    font-style: normal;
}
#container #intro section article figure ul li img {
    width: 200px;
    height: 150px;
    margin: 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
.imgl {
    /* float: left; */
    /* margin: 0 15px 15px 0; */
    /* clear: left; */
    width:80%;
    height:150px;
}
.row2{
    width:90%;
   
}
.row1,.row3{
    width:100%;
}
#container #intro section article p {
    font-size: 15px;
    color: rgb(106, 5, 69);
}
}
