
body
{
    background-color: burlywood;
}
#pass
{
    background-color: green;
    font-size: x-large;

}
#distinction
{
    background-color: blue;
}
#fail{
    background-color: red;

}
.justpass{
    background-color: orange;
}
table
{
    background-color: aqua;
}
thead{
   color:maroon;
   font-style: italic;
}
#img
{
    width: 50px;
}
