
.container{

    /* background-color: cornflowerblue; */
    /* margin: auto; */
}
.tit,section,article,aside,footer{
    border: 1px solid blue;
    background-color: darkkhaki;
    margin:auto;   
}
.tit{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;

}
header{
    display:flex;
   justify-content:space-around;
}
nav ul{
    display: flex;
    background-color: black;
    padding: 8px;
    justify-content: space-around;
    
}
nav ul li{
    
       
        list-style-type: none; 
}
nav ul li a{
    text-decoration-line: none;
}

section {
    display: flex;
    width:960px;
    margin-bottom: 2px;
   
}
article{
    display: flex;
    width:960px;
    margin-bottom: 2px;
    flex-direction: column;
}

.img2 {
    display: flex;
    flex-direction: row;
}
aside {
    display: flex;
    width: 960px;
    margin-bottom: 2px;
    gap: 25px;
}
.about {
    display: flex;
}
.basic {
    margin-right: 65px;
    padding-right: 75px;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.basic p{
    margin-top: 0px;
}
.basic h1 {  
    margin-bottom: 0px;
}
a {
    color: yellow;
    text-decoration-line: none;
}
.img img {
    width:630px;
    height:300px;
    margin: 2px;
}
p {
    font-size: 15px;
    text-align: justify;
    line-height: 1.6rem;
}
.img2 a{
    margin:3px;
}
.lin1 {
    text-align: center;
}
nav {
    width: 960px;
    /* text-align: center; */
    margin: auto;
}
.quick {
    width: 618px; 
    padding-right: 100px;
    margin-right: 6px;
  
}
.about {
    display: flex;
    flex-direction: column;
}
.imgcon2 {
    display: flex;
    margin: 10px;
    justify-content: space-around;
}
li {
    line-height: 2.0;
}
.cont3 {
    text-align: justify;
    padding: 0px 10px;
}

    footer {
        display: flex;
        justify-content: space-around;
    }
   
    footer a {
        margin-top: 10px;
        /* padiing-top: 20px; */
        padding-left: 30px;
    }
    .content {
        padding: 15px;
    }
    .content2 {
        padding: 10px;
    }
    .blog {
        padding: 0px 10px 10px 10px;
    }
    h3 {
        font-size: 14px;
        font-weight: 100;
        margin-left: 145px;
        padding-left: 65px;
    }
    *{
        box-sizing: border-box;
        margin:0px;
        padding:0px;
    }
    @media screen and (max-width:500px){
        .container{
         width:100%;
        }
        nav {
            width: 100%;
            /* text-align: center; */
            margin: auto;
            text-align: center;
        }
        .tit,section,article,aside,footer{

            border: 1px solid blue;
            background-color: darkkhaki;
            margin:auto;   
        }
        section,article,aside{
            width: 475px;
        }
        .tit{
            display: flex;
            flex-direction: column;
            margin-bottom: 2px;
            width:100%
        
        }
        header{
            display:flex;
           justify-content:space-around;
           flex-direction: column;
        }
        nav ul{
            display: flex;
            background-color: black;
            padding: 8px;
            justify-content: space-around;
            flex-direction: column;
            
        }
        nav ul li{
            
               
                list-style-type: none; 
        }
        nav ul li a{
            text-decoration-line: none;
        }
        
        section {
            display: flex;
            flex-direction: column;          
            margin-bottom: 2px;
           
        }
        article{
            display: flex;
            flex-direction: column;
           
            margin-bottom: 2px;
        }
        .sear {
          
            padding: 15px;
        }

        
        .img2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        aside {
            display: flex;
            flex-direction: column;
           
            margin-bottom: 2px;
        }
        .about {
            display: flex;
        }
        .basic {
            margin-right: 0px;
            padding-right: 0px;
        }
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
           .basic p {
        /* margin-top: 0px; */
        text-align: center;
    }
        .basic h1 {  
            margin-bottom: 10px;
        }
        a {
            color: yellow;
            text-decoration-line: none;
        }
        
        .img img{
        width: 470px;
        height: 180px;
        }
        .img2 img{
            width: 470px;
        height: 180px;

        }
    
            p {
                font-size: large;
            
        }
        .img2 a{
            margin:3px;
        }
        .lin1 {
            text-align: center;
        }
        nav {
           
            /* text-align: center; */
            margin: auto;
        }
        .quick {
            margin-left: 10px;
          width: 475px;
          
        }
        .about {
            display: flex;
            flex-direction: column;
        }
        .imgcon2 {
            display: flex;
            flex-direction: column;
            gap:10px;
            margin: 10px;
            align-items: center;
        }
    
            li {
                list-style-type: none;
                line-height: 2.0;
            }
            .img3 img{
                width: 470px;
                height: 180px;

            }
        
        .cont3 {
           width:475px;
           font-size:large;
        }
        
            footer {
                display: flex;
                justify-content: space-around;
            }
            footer p {
                
            }
            footer a {
                margin-top: 10px;
                /* padiing-top: 20px; */
                padding-left: 30px;
            }
            .content {
                padding: 15px;
                line-height: 1.7;
            }
            .content2 {
                padding: 10px;
                line-height: 1.7;
                font-size: large;
            }
            .blog p{
                /* padding: 0px 10px 10px 10px; */
                text-align: center;
            }
            h3 {
                font-size: large;
                   }
                   .quick ul {
                    text-align: center;
                }
            }
    
