.row1 {
    background: rgb(119, 98, 164);
    color: floralwhite;
    overflow: auto;
}
header {
    width: 850px;
    margin: auto;
    overflow: auto;
    color: rgb(201, 207, 30);
  }
  .basic88 {
    width: 300px;
    float: left;
    margin: 20px 20px 20px 0;
  }
  .basic88 h2 {
    margin: 0;
  }
  .basic88 p {
    margin: 0;
  }
  header nav {
    width: 490px;
    float: right;
    margin: 20px 0 20px 20px;
    text-decoration-line: underline;
  }
nav ul li {
    display: inline;
    margin: 30px;
}
.row2 {
    width: 775px;
    height: 375px;
    /* background: black; */
    border: 2px solid;
    margin: 20px 120px 20px 195px;
}
.row2 img{
    width: 775px;
    height: 375px;
    /* background: black; */
}
.row3 {
  width: 850px;
  margin: auto;
}
.childs {
  width: 270px;
  float: left;
}
figure img {
  width: 240px;
  padding-left: 0;
}
figure {
  margin: 0px;
}
figcaption p {
  margin: 2px;
}
