<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASIC88 PRACTICE</title>
    <link rel="stylesheet" href="./Basic88.css">
</head>
<body>
    <div class="container">
    <div class="row1"> 
        <header>
            <div class="basic88">
                <h2>TOURISM DEPARTMENT</h2>
                <p>ANDHRAPRADESH STATE</p>
            </div>
           <nav>
            <ul>
                <li>temples</li>
                <li>packages</li>
                <li>Pictures</li>
                <li>guide</li>
            </ul>
         </nav>
    </header>
    </div>   
    <div class="row2">
        <img src="./touristplaces.jpeg" alt="">
    </div>
    <div class="row3">
        <div class="childs">
          <figure>
            <img src="./gandi.jpeg" alt="" />
          </figure>
          <figcaption>
            <i>kadapa city</i>
            <p>
              gandikota vagu near palace
            </p>
            <p id="ancherPara"><a href="#">Read More »</a></p>
          </figcaption>
        </div>
        <div class="childs">
          <figure>
            <img src="./bridge.jpeg" alt="" />
          </figure>
          <figcaption>
            <i>Vijayawada</i>
            <p>
              prakasam barraiage below the durga temple
            </p>
            <p id="ancherPara"><a href="#">Read More »</a></p>
          </figcaption>
        </div>
        <div class="childs">
          <figure>
            <img src="./visakhapatnam.jpg" alt="" />
          </figure>
          <figcaption>
            <i>Vizag</i>
            <p>
             Beautiful city with sea shore
            </p>
            <p id="ancherPara"><a href="#">Read More »</a></p>
          </figcaption>
        </div>
</div>
</div>    
</body>
</html>