<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASIC88 PRACTICE</title>
    <link rel="stylesheet" href="./Basic88.css">
</head>
<body>
    <div class="container">
    <div class="row1"> 
        <header>
            <div class="basic88">
                <h2>Basic88</h2>
                <p>Free HTML5 Website Template</p>
            </div>
           <nav>
            <ul>
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
            </ul>
         </nav>
    </header>
    </div>   
    <div class="row2">
        <img src="../nature.webp" alt="">
    </div>
    <div class="row3">
    <div class="child">
        <img src="../nature.webp" alt="">
        <img src="../nature.webp" alt="">
        <img src="../nature.webp" alt="">
    </div>
</div>
</div>    
</body>
</html>