<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic89-1practice</title>
    <link rel="stylesheet" href="./Basic89-1.css">
</head>
<body>
    <div class="container">
        <div class="row1"> 
            <header>
                <div class="basic89">
                    <h2>Basic89</h2>
                    <p>Free HTML5 Website Template</p>
                </div>
               <nav>
                <ul>
                    <li>text</li>
                    <li>text</li>
                    <li>text</li>
                    <li>text</li>
                </ul>
             </nav>
        </header>
        </div>
        <!-- row2starts -->
        <div class="row2">
            <img src="../nature.webp" alt="">
        </div>
        <div class="row3">
            <div class="childs">
              <figure>
                <img src="./visakhapatnam.jpg" alt="" />
              </figure>
              <figcaption>
                <strong>LORUM IPSUM DOLOR</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non
                  diam erat. In fringilla massa ut nisi ullamcorper.
                </p>
                <p class="childsPara"><a href="#">Read More »</a></p>
              </figcaption>
            </div>
            <div class="childs">
              <figure>
                <img src="./visakhapatnam.jpg" alt="" />
              </figure>
              <figcaption>
                <strong>LORUM IPSUM DOLOR</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non
                  diam erat. In fringilla massa ut nisi ullamcorper.
                </p>
                <p class="childsPara"><a href="#">Read More »</a></p>
              </figcaption>
            </div>
            <div class="childs">
              <figure>
                <img src="./visakhapatnam.jpg" alt="vizag "/>
              </figure>
              <figcaption>
                <strong>LORUM IPSUM DOLOR</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non
                  diam erat. In fringilla massa ut nisi ullamcorper.
                </p>
                <p class="childsPara"><a href="#">Read More »</a></p>
              </figcaption>
            </div>
            <div class="childs">
              <figure>
                <img src="./visakhapatnam.jpg" alt="vizag "/>
              </figure>
              <figcaption>
                <strong>LORUM IPSUM DOLOR</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non
                  diam erat. In fringilla massa ut nisi ullamcorper.
                </p>
                <p class="childsPara"><a href="#">Read More »</a></p>
              </figcaption>
            </div>
          </div>
          <!-- Row4 Starting -->
          <div class="row4">
            <div class="birds">
              <img src="./bird.jpeg" alt="" />
            </div>
            <div class="birds">
              <img src="./bird.jpeg" alt="" />
            </div>
            <div class="birds">
              <img src="./bird.jpeg" alt="" />
            </div>
        </p>
        <p id="child1Para"><a href="#">View All Our Recent Work here »</a></p>
          </div>
          <!-- Row5 Starting -->
          <div class="row5">
            <article>
              <div class="child1">
                <div class="child1Img">
                  <img src="./bridge.jpeg" alt="" />
                </div>
                <div class="child1Cap">
                    <h4>Indonectetus facilis leo nibh</h4>
                  <p>
                    This is a W3C compliant free website template from <a href="#">OS Templates</a>. For
                full terms of use of this template please read our <a href="#">website template licence</a>.
                  </p>
                  <p id="child1Para"><a href="#">Read More »</a></p>
                </div>
              </div>
              <div class="child2">
                <div class="child1Img">
                  <img src="./bridge.jpeg" alt="" />
                </div>
                <div class="child1Cap">
                  <h4>Indonectetus facilis leo nibh</h4>
                  <p>
                    You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more HTML5 templates visit <a href="">free website templates</a> .
                  <p id="child1Para"><a href="#">Read More »</a></p>
                </div>
              </div>
            </article>
            <aside>
              <h4>Categories</h4>
              <ul>
                <li><a href="#">Free Website Templates</a></li>
                <li><a href="#">Free CSS Templates</a></li>
                <li><a href="#">Free XHTML Templates</a></li>
                <li><a href="#">Free Web Templates</a></li>
                <li><a href="#">Free Website Layouts</a></li>
                <li><a href="#">Free HTML5 Templates</a></li>
                <li><a href="#">Free Webdesign Templates</a></li>
                <li><a href="#">Free FireWorks Templates</a></li>
                <li><a href="#">Free Website Templates</a></li>
                <li><a href="#">Free PNG Themes</a></li>
                <li><a href="#">Free Website Templates</a></li>
              </ul>
            </aside>
          </div>
          <!-- Row6 starts-->
          <div class="row6-footer">
            <div class="copyright">
              <h5>Copyright © 2018 - All Rights Reserved - Domain Name</h5>
            </div>
            <div class="template"><p>Template by OS Templates</p></div>            
           </div>                    
        </div>
      </body>
    </html>
</body>
</html>