<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASIC88 PRACTICE</title>
    <link rel="stylesheet" href="./Basic88-2.css">
</head>
<body>
    <div class="container">
    <div class="row1"> 
        <header>
            <div class="basic88">
                <h2>Basic88</h2>
                <p>Free HTML5 Website Template</p>
            </div>
           <nav>
            <ul>
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
            </ul>
         </nav>
    </header>
    </div>
    <!-- row2starts -->
    <div class="row2">
        <img src="./bird.jpeg" alt="">
    </div>
     <!-- Row-3 -->
    <div class="row3">
        <div class="childs">
          <figure>
            <img src="./bird.jpeg" alt="" />
          </figure>
          <figcaption>
            <i>Indonectetus facilis</i>
            <p>
              Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
              dapibulum orna.
            </p>
            <p id="ancherPara"><a href="#">Read More »</a></p>
          </figcaption>
        </div>
        <div class="childs">
          <figure>
            <img src="./bird.jpeg" alt="" />
          </figure>
          <figcaption>
            <i>Indonectetus facilis</i>
            <p>
              Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
              dapibulum orna.
            </p>
            <p id="ancherPara"><a href="#">Read More »</a></p>
          </figcaption>
        </div>
        <div class="childs">
          <figure>
            <img src="./bird.jpeg" alt="" />
          </figure>
          <figcaption>
            <i>Indonectetus facilis</i>
            <p>
              Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
              dapibulum orna.
            </p>
            <p id="ancherPara"><a href="#">Read More »</a></p>
          </figcaption>
        </div>
    </div>
    <!-- row4starts -->
           <div class="row4">
            <article>
              <h3>Indonectetus facilis leo nibh</h3>
              <p>
                This is a W3C compliant free website template from <a href="#">OS Templates</a>. For
                full terms of use of this template please read our <a href="#">website template licence</a>.
                
              </p>
              <p>
                You can use and modify the template for both personal and commercial
                use. You must keep all copyright information and credit links in the
                template and associated files. For more HTML5 templates visit <a href="#">free
                  website templates</a>.
              </p>
              <p id="ancherPara"><a href="#">Read More »</a></p>
            </article>
            <aside>
              <img src="./bird.jpeg" alt="" />
            </aside>
          </div>
          <!-- Row-5 -->
          <div class="parentSection">
            <div class="subSection">
              <section>
                <i>LINK BLOCK</i>
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit</a></li>
                  <li> <a href="#">Amet consectetur</a></li>
                  <li> <a href="#">Praesent vel sem id</a></li>
                  <li> <a href="#">Curabitur hendrerit est</a></li>
                  <li> <a href="#">Sed a nulla urna</a></li>
                </ul>
              </section>
              <section>
                <i>LINK BLOCK</i>
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit</a></li>
                  <li> <a href="#">Amet consectetur</a></li>
                  <li> <a href="#">Praesent vel sem id</a></li>
                  <li> <a href="#">Curabitur hendrerit est</a></li>
                  <li> <a href="#">Sed a nulla urna</a></li>
                </ul>
              </section>
              <section>
                <i>LINK BLOCK</i>
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit</a></li>
                  <li> <a href="#">Amet consectetur</a></li>
                  <li> <a href="#">Praesent vel sem id</a></li>
                  <li> <a href="#">Curabitur hendrerit est</a></li>
                  <li> <a href="#">Sed a nulla urna</a></li>
                </ul>
              </section>
              <section>
                <i>LINK BLOCK</i>
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit</a></li>
                  <li> <a href="#">Amet consectetur</a></li>
                  <li> <a href="#">Praesent vel sem id</a></li>
                  <li> <a href="#">Curabitur hendrerit est</a></li>
                  <li> <a href="#">Sed a nulla urna</a></li>
                </ul>
              </section>
            </div>
          </div>
          <!-- Row6 starts-->
           <div class="row6-footer">
            <div class="child1">
              <h4>Copyright © 2018 - All Rights Reserved - Domain Name</h4>
            </div>
            <div class="child2"><p>Template by OS Templates</p></div>            
           </div>
</div>    
</body>
</html>