.row1 {
  background: black;
  color: #989898;
  overflow: auto;
}
header {
  width: 850px;
  margin: auto;
  overflow: auto;
}
.basic88 {
  width: 300px;
  float: left;
  margin: 20px 20px 20px 0;
}
.basic88 h2 {
  margin: 0;
}
.basic88 p {
  margin: 0;
}
header nav {
  width: 450px;
  float: right;
  margin: 20px 0 20px 20px;
}
nav ul li {
  display: inline;
  margin: 30px;
}
.row2 {
  width: 775px;
  height: 375px;
  /* background: black; */
  border: 2px solid;
  margin: 30px 120px 20px 195px;
}
.row2 img{
  width: 775px;
  height: 375px;
  /* background: black; */
}
.row3 {
  width: 859px;
  margin: auto;
}
.childs {
  width: 270px;
  float: left;
  padding-top: 10px;
}
figure img {
  width: 240px;
  padding-left: 0;
}
figure {
  margin: 0px;
}
figcaption {
  margin-top: 15px;
  color: #989898;
  font-weight: 200;
}
figcaption i {
  font-weight: bold;
  font-size: 17px;
}
figcaption p {
  font-size: 14px;
  margin: 15px 25px 5px 0px;
  line-height: 1.5;
  color: #989898;
}
p#ancherPara {
  float: right;
  font-size: 14px;
  margin: 12px 25px 0px 0px;
  
}
#ancherPara a {
  color: orange;
  text-decoration-line: none;
}
.row4 {
  width: 850px;
  overflow: auto;
  margin: auto;
}
article {
  width: 420px;
  float: left;
  font-size: 14px;
}
aside {
  width: 420px;
  float: right;
}
aside img {
  width: 340px;
  border: 1px solid;
  padding: 4px;
  height: 265px;
  margin: 32px 0px 30px 0px;
}
article p {
  font-size: 14px;
  line-height: 1.5;
  color: #989898;
 }
article h3 {
  font-size: 30px;
  font-style: italic;
  color: #989898;
}
.parentSection {
  background: #333333;
  color: white;
}
.subSection {
  width: 850px;
  margin: auto;
  overflow: auto;
}
section {
  width: 190px;
  float: left;
  margin: 20px 11px 20px;
}
section i {
  font-size: 13px;
  font-weight: bold;
}
section ul {
  list-style-type: none;
  padding: 0px 50px 0px 0px;
}
section ul li {
  font-size: 13px;
  line-height: 2;
  border-bottom: 1px solid #555555;
 }
 a{
  color: orange;
    text-decoration-line: none;
    outline: none;
 }
 .row6-footer {
  overflow: auto;
  background-color: #232323;
  color: #989898;
  margin-bottom: 20px;
}
.child1 {
  float: left;
  padding-left: 200px;
  font-size: small;
}
.child2 {
  float: right;
  padding-right: 225px;
}
.child1 h4 {
  font-weight: lighter;
  font-size: 14px;
}
.child2 p {
  font-weight: lighter;
  font-size: 14px;
}


