<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic90flex</title>
<link rel="stylesheet" href="./Basic90flex.css">
<link rel="stylesheet" href="./styles/media_90.css">
</head>
<body>
    <div class="container">
        <div class="tit">
            <header>
                <div class="basic">
                    <h1>BASIC90 TEMPLATE</h1>
                    <P>Free HTML5 Website Template</P>
                </div>
                <div class="sear">
                    <input type="search" name="" id="" placeholder="search our website"><button>submit</button>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                </ul>
            </nav>
            </header>
        </div>
        <section>
            <div class="content">
                <h2>Eu justo augue estas</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis
                    curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum
                    leo.</p>
                <a href="#">Read more>></a>
            </div>
            <div class="img">
                <img src="./bird.jpeg" alt="" width="630px" height="300px">
            </div>
        </section>
        <article>
            <div class="content2">
                <h2>Lorum ipsum dolor</h2>
                <p>This is a W3C compliant free website template from <a href="https://www.os-templates.com/"
                        title="Free Website Templates">OS Templates</a>. For full terms of use of this template please
                    read our <a href="https://www.os-templates.com/template-terms">website template licence</a>.</p>
                <p>You can use and modify the template for both personal and commercial use. You must keep all copyright
                    information and credit links in the template and associated files. For more HTML5 templates visit <a
                        href="https://www.os-templates.com/">free website templates</a>.</p>
            </div>
            <div class="imgtxt">
                <div class="img2">
                    <a href="#"><img src="./bird.jpeg" width="130" height="130" alt=""></a>
                    <a href="#"><img src="./bird.jpeg" width="130" height="130" alt=""></a>
                    <a href="#"><img src="./bird.jpeg" width="130" height="130" alt=""></a>
                </div>
                <div class="lin1">
                    <a href="#">View Our Image Gallery Here</a>
                </div>
            </div>
        </article>
        <aside>
            <div class="blog">
                <h1>From The Blog</h1>
                <h2>Post Title</h2>                
                <p><a href="#">Admin </a>domainname.com <br>                
                    Friday, 6<sup>th</sup> April 2000 </p>          
              <p>Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet.</p>
              <a href="#">Read More>></a>
            </div>
            <div class="quick">
                <h1>Quick Links</h1>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Praesent vel sem id</a></li>
                    <li><a href="#">Curabitur hendrerit est</a></li>
                    <li><a href="#">Sed a nulla urna</a></li>
                </ul>
            </div>
            
            <div class="about">
                <h1>About US</h1>
                 <div class="imgcon2">
                <div class="img3">
                    <img src="./bird.jpeg" width="130" height="130" alt="">
                </div>
                <div class="cont3">
                    <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus
                        ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a
                        tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
                        eu magna luctus suscipit.</p><br>
                        <a href="#">Read More >></a>
                </div>
            </div>
            </div>
        </aside>
        <footer>
            <p>Copyright 2018 - All Rights Reserved - Domain Name</p>
            <h3>Template by OS Templates</h3>
        </footer>
    </div>


</body>

</html>