<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./display-flex.css">
    <title>Flexpractice</title>
</head>

<body>
    <div class="container">
        <header>
            ONEPLUS MOBILES
        </header>
        <nav>
            <ul>
            <li>name</li>
            <li>model</li>
            <li>price</li>
            <li>features</li>
        </ul>
    </nav>
    <main>
        <div class="sec">
        <section>
            Customer service: 1800 102 8411
            Founded: 16 December 2013, China
            Founders: Carl Pei, Pete Lau
            CEO: Pete Lau (17 Dec 2013–)
        </section>
        <article>
            <p>Fast and Free Delivery — Buy OnePlus 12 from ₹54,999 incl. ₹3K Coupon on White & ₹7K Bank Discount. Don’t
                Miss Out! Shop the latest OnePlus Mobile phones, Audios and Tablets online from the official Store.
                Benefits on JioPlus Plans. Bank Offer up to ₹7,000. Link to RCC & Save More.</p>
        </article>
    </div>
        <aside>
            <img src="../LAYOUTS/oneplus.png" alt="">
            
        </aside>
       </main>
        <footer>
            <p>copyrights reserved@2024.Amazon.in</p>
        </footer>
    </div>

</body>

</html>