<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./movietemp.css">
    <title>Movietemplate</title>
</head>
<body>
    <!-- heading row -->
     <div class="container">
        <div class="row1">
    <div class="heading">
        <div class="class1">
            <div class="img">
                <img src="./movie1.png" alt="blogpost">
            </div>
            <div class="listitem">
                <ul>
                    <li>                        
                        <select name="" id="">
                            <option value="">HOME</option>
                            <option value="">india</option>
                            <option value="">overseas</option>
                        </select>
                    </li>
                    <li>   
                        <label for="">MOVIES</label>                    
                    <select name="" id="">
                        <option value=""></option>
                        <option value="">telugu</option>
                        <option value="">tamil</option>
                    </select>
                    </li>
                    <li>                       
                    <select name="" id="">
                        <option value="">CELEBRITY</option>
                        <option value="">heros</option>
                        <option value="">heroins</option>
                    </select>
                    </li>
                    <li>                        
                    <select name="" id="">
                        <option value="">NEWS</option>
                        <option value="">bloglist</option>
                        <option value="">bloggrid</option>
                    </select>
                    </li>
                    <li>  
                    <select name="" id="">
                        <option value="">COMMUNITY</option>
                        <option value="">blogcty</option>
                    </select>
                    </li>
                </ul>
            </div>
        </div>
        <div class="class2">
            <ul>
                <li>
                    <select name="" id="">
                        <option value="">PAGES</option>
                        <option value="comingsoon">comingsoon</option>
                    </select>
                </li>
                <li>
                    <a href="#">HELP</a>
                </li>
                <li> 
                     <a href="#">LOGIN</a>
                    </li>
                <li>
                    <button>SIGN UP</button>
                </li>
            </ul>
        </div>
    </div>
        </div> 
 <!-- row2 for search -->
        <div class="row2">
            <div class="select1">
                 <select name="" id="">
                    <option value="">TV SHOW</option>
                    <option value="">media</option>
                 </select>
                <input type="search" name="" id="" placeholder="Search for a movie or celibity that you are looking for">
            </div>
        </div>
 <!-- row3 starts here for social followers -->
  <div class="row3">
    <div class="social">
        <p>FOLLOW US:</p>
       <a href="http://facebook.com"><img src="./bird.jpeg" alt="" width="20px" height="20px"></a>
       <a href="http://facebook.com"><img src="./bird.jpeg" alt="" width="20px" height="20px"></a>
       <a href="http://facebook.com"><img src="./bird.jpeg" alt="" width="20px" height="20px"></a>

    </div>
  </div>
  <!-- row4 starts images -->
   <div class="row4">
            <div class="pictures"> 
                <div class="subpic1"> 
                <!-- <img src="./slide1.jpg" alt=""> 
                <img src="./slide2.jpg" alt="">            
                <img src="./slide3.jpg" alt=""> -->
                </div>
                <div class="subpic2"> 
                 <!-- <img src="./slider4.jpg" alt=""> -->
                </div>           
        </div>    
   </div>
</div>
</body>
</html>