body {
    background-color: beige;
}
.row1 {
    overflow: auto;
    background-color: rgb(157, 200, 185);
    }
.heading {
    margin: 0px 30px 0px 35px;
    /* width: auto; */
    background-color: darkseagreen;
}
.class1 {
    float: left;
    color: blueviolet;
}
.class2 {
    color: rgb(60, 12, 12);
    float: right;
}
li {
    display: inline;
    margin: 10px;
}
.listitem {
    
    float: right;
}
.img {
    float: left;
}
a {
    text-decoration-line: none;
    color: aqua;
}
.row2 {
        overflow: auto;
}
.select1 select {
    width: 300px;
    height: 40px;
    margin-right: 0px;
    background-color: rosybrown;
}
.select1 {
    margin: 15px 35px 0px 35px;
    background-color: #323a33;
}
input[type="search"] {
    width: 873px;
    height: 40px;
    margin-left: 0px;
    background-color: lightsalmon;
}
.row3 {
    overflow: auto;
    float: right;
    margin-top: 0px;
}
.social {
    background-color: #d6afd0;
    margin: 5px 25px 0px 10px;
}
.social p {
    float: left;
}
.social a {
    text-decoration-line: none;
    float: right;
    padding: 14px 10px 10px 11px;
}
.row4 {
    overflow: auto;
    width: 1200px;
    margin: 15px 10px 10px 35px;
}
.subpic1 img {
    width: 255px;
    height: 200px;
}
.subpic2 img {
    width: 255px;
    height: 200px;
}

.subpic1 {
    float: left;
    margin-right: 52px;
}

.subpic2 {
    float: right;
    margin-right: 20px;
}
.row5 {
    overflow: auto;
    margin: auto;
}
.titl {
    width: 750px;
    margin-left: 60px;
    padding-left: 40px;
    }
   

.tail {
    float: right;
}
.head {
    float: left;
}
.name {
    padding-left: 10px;
}
.lst ul {
    padding-left: 0px;
}
.lst li {
    display: inline;
    margin: 5px;
}