<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice2</title>
    <link rel="stylesheet" href="./practice-2.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="Title">
                <h1>Enter Site Title</h1>
                <h2>Ener Site Slogan</h2>
            </div>
        </header>
        <nav>
            <div class="list">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">New Page1</a></li>
                    <li><a href="#">New Page2</a></li>
                    <li><a href="#">New Page3</a></li>
                    <li><a href="#">New Page4</a></li>
                    <li><a href="#">New Page5</a></li>
                </ul>
            </div>
        </nav>
        <div class="desc">
        <section>
            <div class="larg">
               <h3>Gallery</h3>
               <hr>
                <p>With Prime Video Channels, find shows and movies from your favorite channels all in one place. Enjoy with an add-on subscription to Channels of your choice</p>
            </div>
        </section>
        <article>
            <div class="middle">
                <div class="middleleft">
                    <h3>Subscription</h3>
                    <p>Early Access to new movies, before digital subscription</p>
                    <button>Read More</button>
                </div>
                <div class="middleright">
                    <h3>Other Services</h3>
                    <p>jnjdcccccccccccccccccccccc</p>
                    <button>Read More</button>
                </div>
            </div>
        </article>
        </div>
        <aside>
            <div class="list2">
                <div class="titl2">
                    <h3>Main Menu</h3>
                </div>
                <div class="items">
                    <ul>
                        <li><a href="#">Main Item1</a></li>
                        <li><a href="#">Main Item2</a></li>
                        <li><a href="#">Main Item3</a></li>
                        <li><a href="#">Main Item4</a></li>
                        <li><a href="#">Main Item5</a></li>
                        <li><a href="#">Main Item6</a></li>
                        <li><a href="#">Main Item7</a></li>
                        <li><a href="#">Main Item8</a></li>
                        <li><a href="#">Main Item9</a></li>                     
                    </ul>
                </div>
           </div>
           <div class="item desc">
            <h3>Block</h3>
            <p>jdcudhchhducdshucusd</p>
            <p>Join Prime to watch the latest movies, TV shows and award-winning Amazon Originals</p>
            </div>
        </aside>
        <br>
        <footer>           
                <p>CopyrighteewfwfffdaWCadwcedccedcded</p>                     
        </footer>               
    </div>    
</body>
</html>