<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice2</title>
    <link rel="stylesheet" href="./practice-2.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="Title">
                <h1>Amazon.com</h1>
                <h2>Amazon shopping</h2>
            </div>
        </header>
        <nav>
            <div class="list">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">New Page1</a></li>
                    <li><a href="#">New Page2</a></li>
                    <li><a href="#">New Page3</a></li>
                    <li><a href="#">New Page4</a></li>
                    <li><a href="#">New Page5</a></li>
                </ul>
            </div>
        </nav>
        <div class="desc">
        <section>
            <div class="larg">
               <h3>About Amazon </h3>
               <hr>
               <p>Amazon.com is an e-commerce platform that sells many product lines, including media (books, movies, music, and software), apparel, baby products, consumer electronics, beauty products, gourmet food, groceries, health and personal care products, industrial & scientific supplies, kitchen items, jewelry, watches, lawn and garden items, musical instruments, sporting goods, tools, automotive items, toys and games, and farm supplies[47] and consulting services.[48] Amazon websites are country-specific (for example, amazon.com for the U.S. and amazon.co.uk for UK) though some offer international shipping.</p>
            </div>
        </section>
        <article>
            <div class="middle">
                <div class="middleleft">
                    <h3>WEB Services</h3>
                    <p>Amazon Web Services (AWS) is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis. These cloud computing web services provide distributed computing processing capacity and software tools via AWS server farms. As of 2021 Q4, AWS has 33% market share for cloud infrastructure while the next two competitors Microsoft Azure and Google Cloud have 21%, and 10% respectively, according to Synergy Group</p>
                    <button>Read More</button>
                </div>
                <div class="middleright">
                    <h3>Other Services</h3>
                    <p>Amazon also has investments in renewable energy, including plans to fund four modular nuclear reactors at the Xe-100 reactor site in Eastern Washington, and plans to expand its position into the Canadian market through an investment in a new plant in Alberta.Ring is a home automation company founded by Jamie Siminoff in 2013. It is primarily known for its WiFi powered smart doorbells, but manufactures other devices such as security cameras.</p>                    
                    <button>Read More</button>
                </div>
            </div>
        </article>
        </div>
        <aside>
            <div class="list2">
                <div class="titl2">
                    <h3>>>Main Menu</h3>
                </div>
                <div class="items">
                    <ul>
                        <li><a href="#">Main Item1</a></li>
                        <li><a href="#">Main Item2</a></li>
                        <li><a href="#">Main Item3</a></li>
                        <li><a href="#">Main Item4</a></li>
                        <li><a href="#">Main Item5</a></li>
                        <li><a href="#">Main Item6</a></li>
                        <li><a href="#">Main Item7</a></li>
                        <li><a href="#">Main Item8</a></li>
                        <li><a href="#">Main Item9</a></li>                     
                    </ul>
                </div>
           </div>
           <div class="item desc">
            <h3>Prime Video</h3>
            <p>Join Prime to watch the latest movies, TV shows and award-winning Amazon Originals</p>
            <p>Amazon Prime (styled as prime) is a paid subscription service of Amazon which is available in various countries and gives users access to additional services otherwise unavailable or available at a premium to other Amazon customers.</p>
            
            </div>
        </aside>
        <br>
        <footer>
            <ul>
                <li><a href="#">Conditions of Use & Sale</a></li>
                <li><a href="#">  Privacy Notice</a></li>
                <li><a href="#">Interest-Based Ads</a></li>
            </ul>           
            <p>Copyright© 1996-2024, Amazon.com, Inc. or its affiliates</p>                     
        </footer>               
    </div>    
</body>
</html>