
@media screen and (max-width: 500px)
{        
  body{
       background-color: chocolate;
       box-sizing: border-box;
       margin: 0px;
       padding: 0px;            
   }
  

   header {
       display: flex;
       flex-direction: column; 
       height:fit-content;
       /* width: 500px;;        */
      
   }
.list1 ul {
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
   /* margin: 20px; */
   gap: 10px;
   
}

section {
   overflow: auto;
   /* width: 900px; */
   /* margin: auto; */
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid grey;
   margin-bottom: 30px;
   gap: 35px;
   
}
.larg {
   /* width: fit-content; */
   height: 320px;

   border-right: 1px solid grey;
   /* /* padding-right: 5px; */
 margin:10px;
}
.larg p{
   font-size: 14px;
   text-align: justify;
   line-height: 1.5;
   width: 450px;
}
.larg h3 {
   font-size: 15px;
}
.catg {
   /* width: 260px; */

   /* margin-right: 0px; */
   background-color: rgb(19, 124, 92);
   width: 460px;
   margin: 10px;
}
/* box info */
.services {
   /* width: 500px; */
   /* margin: auto; */
   height: auto;
   display: flex;
   flex-direction: column;
   gap:10px;
} 
.info, .info4{
  width: 460px;
  height:auto;      
}
}