<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice3</title>
    <link rel="stylesheet" href="./Practice3.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="./movie1.png" alt="">
            </div>
            <div class="list1">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">New Page1</a></li>
                    <li><a href="#">New Page2</a></li>
                    <li><a href="#">New Page3</a></li>
                    <li><a href="#">New Page4</a></li>
                </ul>
            </div>
        </header>
        <nav>
            <div class="logoimage">
               <img src="./html-color.jpg" alt="" height="150px">
            </div>
        </nav>
        <section>
            <div class="larg">
               <h3>About Amazon </h3>
               <p>Amazon.com is an e-commerce platform that sells many product lines, including media (books, movies, music, and software), apparel, baby products, consumer electronics, beauty products, gourmet food, groceries, health and personal care products, industrial & scientific supplies, kitchen items, jewelry, watches, lawn and garden items, musical instruments, sporting goods, tools, automotive items, toys and games, and farm supplies[47] and consulting services.[48] Amazon websites are country-specific (for example, amazon.com for the U.S. and amazon.co.uk for UK) though some offer international shipping.</p>
               <p>Amazon also has investments in renewable energy, including plans to fund four modular nuclear reactors at the Xe-100 reactor site in Eastern Washington, and plans to expand its position into the Canadian market through an investment in a new plant in Alberta.Ring is a home automation company founded by Jamie Siminoff in 2013. It is primarily known for its WiFi powered smart doorbells, but manufactures other devices such as security cameras.</p>
            </div>
            <div class="catg">
                <h3>Categories</h3>                    
                <div class="list">
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Aenean ac lobortis felis</a></li>
                        <li><a href="#">Cras eros dolor</a></li>
                        <li><a href="#">Vivamus orci velit</a></li>
                        <li><a href="#">Proin ultrices eros</a></li>
                        <li><a href="#">Aliquam ac nisl eget</a></li>
                        <li><a href="#">Praesent vehicula tellus</a></li>
                        <li><a href="#">Mauris egestas nunc</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="services">

            <div class="info">
                <h3>WEB Services</h3>
                <p>Amazon Web Services (AWS) is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis.</p>
                <a href="#">Read More ..</a>
            </div>
            <div class="info">
                <h3>WEB Services</h3>
                <p>Amazon Web Services (AWS) is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis.</p>
                <a href="#">Read More ..</a>
            </div>
            <div class="info">
                <h3>WEB Services</h3>
                    <p>Amazon Web Services (AWS) is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis.</p>
                <a href="#">Read More ..</a>
            </div>
            <div class="info4">
                <h3>WEB Services</h3>
                <p>Amazon Web Services (AWS) is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis.</p>
                <a href="#">Read More ..</a>
            </div>

        </div>
        <footer>
            <div class="contact">
                <h4>Contact info</h4>
                <p>oin Prime to watch the latest movies, TV shows and award-winning Amazon Originals</p>
            </div>
            <div class="ftrlst">
            <ul>
                <li><a href="#">Conditions of Use & Sale</a></li>
                <li><a href="#">  Privacy Notice</a></li>
                <li><a href="#">Interest-Based Ads</a></li>
            </ul>           
            <p>Copyright© 1996-2024, Amazon.com, Inc. or its affiliates</p> 
        </div>                    
        </footer>   
    </div>
    
</body>
</html>