body{
    background-color: chocolate;
}
.container {
    width: 900px;
    margin: auto;
    background-color: beige;
    overflow: auto;
    border: 1px solid black;
    border-radius: 4px;
     }
    header{
        overflow:auto;
        color: #1f2202;
        width: auto;
        margin:auto; 
        background-color: #1f2202;
    }
    .logo
    {
        float: left;
    }
    .list1{
        float: right;
        
    }
    .list1 li {
        display: inline;
        margin-right: 50px;
        font-size: 15px;
        border-right: 2px dashed darkgreen;
       
      
    }
    .list1 a {
        color: darkorange;
       
      
    }
    nav{
        overflow: auto;
        margin: 8px 15px;
    }
    .ftrlist li {
        display: inline;
        border-right: 1px solid white;
        font-size: 14px;
        padding-right: 10px;
    }
    .list ul {
        list-style-type: none;
    }
    .ftrlist li a {
        text-decoration-line: none;
        color:white
    }
    .ftrlist li a:hover{
        color: rgb(194, 192, 56);
       
    }
    /* section */
    .larg {
        width: 600px;
        height: 375px;
        float: left;
        border-right: 1px solid grey;
    }
    .catg {
        width: 260px;
        float: right;
        border: 1px solid;
        margin-right: 10px;
    }
    .services {
        margin: 0px 35px 0px 25px;
        height: 150px;
    }
    .info {
        background-color: rgb(167, 193, 38);
        border: 1px solid;
        width: 195px;
        height: 125px;
        float: left;
        margin-left: 12px;
    }
    .info4{
     border: 1px solid ;
        /* background-image: url(./articlpic.jpg)top left no-repeat; */
        width: 195px;
        height: 125px;
        float: right;
        background-color: rgb(113, 113, 194);
        margin-right: 0px;
    }
    footer {
        overflow: auto;
        
        width: 824px;
        margin: 40px;
        background-color: grey;
        font-size: 14px;
    }
    .contact {
        float: left;
    }
    .ftrlst {
        float: right;
    }
        section {
            overflow: auto;
            margin-left: 10px;
            border-bottom: 1px solid grey;
            margin-bottom: 20px;
    }
    .logoimage img {
        overflow: auto;
        width: 870px;
    }
