<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
    height: 200px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    background-color: blueviolet;
    width:400px;
}

    </style>
</head>
<body>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <span>lount architecto placeat ab vol</span>Illo minus nesciunt architecto placeat ab voluptatem ipsam dolorum perspiciatis, <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde at quo ex dolorum consequuntur? Quaerat laboriosam cupiditate dolor, rem porro blanditiis! Neque eius sequi eligendi corrupti nulla suscipit ipsam ullam.</span>est fugiat maxime tempora alias quas at, vel iusto nulla. Porro, fuga!</div>
    
</body>
</html>